<div class="content">
	<div class="title"><h5>Dashboard</h5></div>

	<!-- Statistics -->
	<div class="stats">
		<ul>
			<li><a href="/admin_entries" class="count grey" title="">0</a><span>Current Entries</span></li>
			<li><a href="/admin_entries" class="count grey" title="">0</a><span>Entries In The Last 24 Hours</span></li>
			<li><a href="/admin_entries" class="count grey" title="">0</a><span>Entries In The Last 7 Days</span></li>
			<li class="last"><a href="/admin_flagged" class="count grey" title="">0</a><span>Flagged Entries</span></li>
		</ul>
		<div class="fix"></div>
	</div>


	<div class="widget">
		<div class="head"><h5 class="iHelp">Recent Entries</h5></div>
	</div>
	
	
</div>