.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11 {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .grid_1 {
width: 4.85%;
}

.row .grid_2 {
width: 13.45%;
}

.row .grid_3 {
width: 22.05%;
}

.row .grid_4 {
width: 30.75%;
}

.row .grid_5 {
width: 39.45%;
}

.row .grid_6 {
width: 48%;
}

.row .grid_7 {
width: 56.75%;
}

.row .grid_8 {
width: 65.4%;
}

.row .grid_9 {
width: 74.05%;
}

.row .grid_10 {
width: 82.7%;
}

.row .grid_11 {
width: 91.35%;
}

.row .grid_12 {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .grid_1, .row .grid_2, .row .grid_3, .row .grid_4, .row .grid_5, .row .grid_6, .row .grid_7, .row .grid_8, .row .grid_9, .row .grid_10, .row .grid_11, .row .grid_12 {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}